
/*mp3 player*/
#audio_box { 
			width:300px;
			position: absolute;
			margin-top: 20px;
			margin-left: 450px;
			margin-
			/*background: orange; */
			float: auto; 
			}

/*frequency bar*/
#graph-svg {
	position: absolute;
	margin-top: 5px;
	/*background-color: green;*/
	width: 400px;
	height: 700px;
}

/*shape chart*/
#shape-svg {
	/*background-color: black;*/
	width: 700px;
	height: 700px;
	position: absolute;
	margin-left: 800px;	
	margin-top: 0px;
}

/* upload file */
.uploadfile { 
	/*background-color: red;*/
	width: 150px;
	position: absolute;
	margin-top: 90px;
	margin-left: 535px;
	margin: left;
}

#custom-button {
		padding: 10px;
		color: white;
		background-color: #4D648D;
		border: 1px solid #000;
		border-radius: 5px;
		cursor: pointer;
    	text-align:center;
    	margin: center;
    	font-family: MaisonNeue;
}

#custom-text {
		margin-left: 9px;
		font-family: MaisonNeue;
		color: #aaa;
		margin: auto;
		font-size: 13px;
}

/*synthesizer*/
.slidecontainer {
    width: 50%%;
    position: absolute;
    margin-left: 520px;
    margin-top: 180px;
}

.settingsBar {
	position: absolute;
	margin-left: 520px;
	margin-top: 220px;
}

#osc {
	background-color: orange;
	width: 50px;
	height: 50px;
	position: absolute;
	margin-left: 520px;
	margin-top: 270px;
}

#oscPitch {
	margin-left: 520px;
	margin-top: 330px;
}

#linegraph {
	background-color: pink;
	position: absolute;
	width: 400px;
	height: 200px;
	margin-top: 400px;
	margin-left: 400px;
}

#
/*/* /*The slider itself */
/*.slider {*/
    -webkit-appearance: none;  /* Override default CSS styles 
    appearance: none;
    width: 40%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3;  Grey background 
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}*/*/

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

 The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look)  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
   	position: absolute;
    margin-left: 535px;
    margin-top: 90px;
}*/
