
/*mp3 player*/
#audio_box { 
			width:300px;
			background: orange; 
			float: right; 
			}


/*frequency bar*/
#graph-svg {
	float: right;
	background-color: blue;
	width: 400px;
	height: 400px;
}

/* upload file */

.uploadfile { 
	background-color: red;
	width: 170px;
}

#custom-button {
		padding: 10px;
		color: white;
		background-color: #4D648D;
		border: 1px solid #000;
		border-radius: 5px;
		cursor: pointer;
    	text-align:center;
    	margin: auto;
    	font-family: MaisonNeue;
}

#custom-text {
		margin-left: 9px;
		font-family: MaisonNeue;
		color: #aaa;
		margin: auto;
		font-size: 13px;
}
