
/*mp3 player*/
#audio_box { 
			width:300px;
			/*background: orange; */
			float: left; 
			}

/*frequency bar*/
#graph-svg {
	float: left;
	/*background-color: green;*/
	width: 400px;
	height: 400px;
}

/*shape chart*/
#shape-svg {
	/*background-color: black;*/
	width: 500px;
	height: 500px;
	float: left;
}

/* upload file */
.uploadfile { 
	/*background-color: red;*/
	width: 170px;
	margin: center;
}

#custom-button {
		padding: 10px;
		color: white;
		background-color: #4D648D;
		border: 1px solid #000;
		border-radius: 5px;
		cursor: pointer;
    	text-align:center;
    	margin: center;
    	font-family: MaisonNeue;
}

#custom-text {
		margin-left: 9px;
		font-family: MaisonNeue;
		color: #aaa;
		margin: auto;
		font-size: 13px;
}
